<div class="container">
<footer id="foot">
  <h4 align="right"><b>Süleyman CAN - 15541805</b> </h4>
  <h4 align="right"><i><%=t("footer")%></i></h4>
  <h4 align="right"> <u>27suleymancan@gmail.com</u></h4>
</footer></div>