<div class="container-fluid" align="center">
    <br>
    <h3 align="center" ><%= t("welcome") %></h3>
 <br>

<div class="col-xs-hidden">
    <img src="https://scontent.fsaw1-3.fna.fbcdn.net/v/t1.0-9/18740517_684252835091270_4697712854147399760_n.jpg?oh=5798cb2196242061845ef9fe6739265e&oe=5AC613C8" id="rootimage">
</div>
<br>
</div>