<div class="container" align="center">
<p>Hello <%= @resource.email %>!</p>

<p>Birisi, şifrenizi değiştirmek için bir bağlantı istedi. Bunu aşağıdaki bağlantıdan yapabilirsiniz.</p>

<p><%= link_to 'Parolamı değiştir', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Bunu istemediyseniz, lütfen bu e-postayı yoksayın.
</p>
<p>Yukarıdaki bağlantıya erişip yeni bir şifre oluşturana kadar şifreniz değişmeyecektir.
</p>
</div>